@font-face {
	font-family: 'MaterialIcons-Regular';
	src: local('MaterialIcons-Regular'), url('font/MaterialIcons-Regular.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'MaterialIcons-Regular' !important;
}
.font-MaterialIcons-Regular {
    font-family: 'MaterialIcons-Regular' !important;
}

@font-face {
	font-family: 'Dolceveta';
	src: local('Dolceveta'), url('font/Dolceveta.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'Oswald' !important;
}
.font-Oswald {
    font-family: 'Oswald' !important;
}

@font-face {
	font-family: 'Roboto';
	src: local('Dolceveta'), url('font/Roboto.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'Roboto' !important;
}
.font-Roboto {
    font-family: 'Roboto' !important;
}

@font-face {
	font-family: 'Oswald';
	src: url('font/Oswald.eot');
	src: local('Oswald'), url('font/Oswald.woff') format('woff'), url('font/Oswald.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'Oswald' !important;
}
.font-Oswald {
    font-family: 'Oswald' !important;
}

@font-face {
	font-family: 'MAGNETOB';
	src: url('font/MAGNETOB.eot');
	src: local('MAGNETOB'), url('font/MAGNETOB.woff') format('woff'), url('font/MAGNETOB.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'MAGNETOB' !important;
}
.font-MAGNETOB {
    font-family: 'MAGNETOB' !important;
}

@font-face {
	font-family: 'LCDBOLD';
	src: url('font/LCDBOLD.eot');
	src: local('LCDBOLD'), url('font/LCDBOLD.woff') format('woff'), url('font/LCDBOLD.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'LCDBOLD' !important;
}
.font-LCDBOLD {
    font-family: 'LCDBOLD' !important;
}

@font-face {
	font-family: 'snap-itc';
	src: local('snap-itc'), url('font/snap-itc.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'snap-itc' !important;
}
.font-snapitc {
    font-family: 'snap-itc' !important;
}

@font-face {
	font-family: 'algemaria';
	src: local('algemaria'), url('font/algemaria.TTF') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'algemaria' !important;
}
.font-algemaria {
    font-family: 'algemaria' !important;
}

@font-face {
	font-family: 'ElectroShackle';
	src: local('ElectroShackle'), url('font/ElectroShackle.otf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'ElectroShackle' !important;
}
.font-ElectroShackle {
    font-family: 'ElectroShackle' !important;
}

@font-face {
	font-family: 'BladeRunnerMovieFont2';
	src: local('BladeRunnerMovieFont2'), url('font/BladeRunnerMovieFont2.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'BladeRunnerMovieFont2' !important;
}
.font-BladeRunnerMovie2 {
    font-family: 'BladeRunnerMovieFont2' !important;
}

@font-face {
	font-family: 'SegoeUI';
	src: local('SegoeUI'), url('font/SegoeUI.TTF') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'SegoeUI' !important;
}
.font-SegoeUI {
    font-family: 'SegoeUI' !important;
}

@font-face {
	font-family: 'LCDBOLD';
	src: local('LCDBOLD'), url('font/LCDBOLD.ttf') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'LCDBOLD' !important;
}
.font-LCDBOLD {
    font-family: 'LCDBOLD' !important;
}

@font-face {
	font-family: 'LL_RECOR';
	src: local('LL_RECOR'), url('font/LL_RECOR.TTF') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'LL_RECOR' !important;
}
.font-LL_RECOR {
    font-family: 'LL_RECOR' !important;
}

@font-face {
	font-family: 'incm';
	src: local('incm'), url('font/incm.woff2') format('truetype');
}
.fontsforweb_fontid_11195 {
	font-family: 'incm' !important;
}
.font-incm {
    font-family: 'incm' !important;
}

@font-face {
	font-family: 'DeadKansas';
	src: local('DeadKansas'), url('font/DeadKansas.ttf') format('truetype');
}
.font-DeadKansas {
    font-family: 'DeadKansas' !important;
}

.txtm97 {height: 79px;text-decoration: none!important;}.txtm97:hover{border: solid 1px #b4afaf;}

